@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

html,body{
  background-image: linear-gradient(to top,#feada6,#f5efef);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {

  margin-top: 20px;
  border-style: groove;
  border-width: 3px;
  border-color: rgb(214, 170, 170);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  margin-bottom: 30px;
}
.w-60 {
  width: 60px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 600;
}
li.nav-item-active{
  cursor:pointer;
}
a {
  color: #707070;
}
